.root {
  background: rebeccapurple;
  margin-bottom: 1.45rem;
}

.titleWrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.title {
  margin: 0;
}

.titleLink {
  color: #fff;
  text-decoration: none;
}
